/* Tab view */
@media (min-width: 576px) {
    .container{
        min-width: 576px;
        max-width: 991px;
    }
    /* settings */
    .settings-section{
        margin-top: 73px;
    }
}

/* Desktop view */
@media (min-width: 992px) {
    .container{
        min-width: 992px;
        max-width: 2560px;
    }
    /* settings */
    .settings-section{
        margin-top: 45px;
    }
    .settings-text{
        font-size: 30px;
    }
    .profile-section{
        margin-top: 0;
    }
    .content-section{
        padding: 6px 20px;
    }
    .sub{
        margin-bottom: 0px;
    }
    /* settings end*/
}